<div class="container">
  
    <h1 class="text-center my-5"><b>Sejam bem Vindos</b></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam quam qui aspernatur? Non aut, minus
      facere quam quas ad unde eius iure reiciendis! Nulla est vitae commodi similique quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempore aut atque ea praesentium, quasi blanditiis!
      Quos, asperiores, ipsa ab tenetur ex iusto sapiente tempora natus consequuntur, veritatis dicta delectus!</p>
    <h1 class="text-center my-5"><b>Nossa História</b></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam quam qui aspernatur? Non aut, minus
      facere quam quas ad unde eius iure reiciendis! Nulla est vitae commodi similique quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempore aut atque ea praesentium, quasi blanditiis!
      Quos, asperiores, ipsa ab tenetur ex iusto sapiente tempora natus consequuntur, veritatis dicta delectus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam quam qui aspernatur? Non aut, minus
      facere quam quas ad unde eius iure reiciendis! Nulla est vitae commodi similique quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempore aut atque ea praesentium, quasi blanditiis!
      Quos, asperiores, ipsa ab tenetur ex iusto sapiente tempora natus consequuntur, veritatis dicta delectus!</p>
  
  
  </div>