<div class="container">
    <h1 class="text-center my-5"> Axel´s Drinks </h1>
  
    <h2 class="text-center my-5">Sejam bem Vindos</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam quam qui aspernatur? Non aut, minus
      facere quam quas ad unde eius iure reiciendis! Nulla est vitae commodi similique quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempore aut atque ea praesentium, quasi blanditiis!
      Quos, asperiores, ipsa ab tenetur ex iusto sapiente tempora natus consequuntur, veritatis dicta delectus!</p>
    <h2 class="text-center my-5">Nossa História</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam quam qui aspernatur? Non aut, minus
      facere quam quas ad unde eius iure reiciendis! Nulla est vitae commodi similique quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempore aut atque ea praesentium, quasi blanditiis!
      Quos, asperiores, ipsa ab tenetur ex iusto sapiente tempora natus consequuntur, veritatis dicta delectus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam quam qui aspernatur? Non aut, minus
      facere quam quas ad unde eius iure reiciendis! Nulla est vitae commodi similique quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempore aut atque ea praesentium, quasi blanditiis!
      Quos, asperiores, ipsa ab tenetur ex iusto sapiente tempora natus consequuntur, veritatis dicta delectus!</p>
  
  
  </div>