<div class="container">
  <h1 class="text-center my-5"> Bebidas Randômicas </h1>


  <div class="wrapper">

    <div class="block">
      <div class="block-img">
        <a href="receita-detalhe"><img src="assets/logobebida.png"  alt=""></a>
      </div>
      <div class="block-desc">
        <!-- <p>{{receita.strDrink}} </p> -->
        <p>Nome da Bebida Randômica</p>
      </div>
    </div>
  
    <div class="block">
      <div class="block-img">
        <!-- <a [routerLink]="['/receita-detalhe', receitas.idDrink]"><img src="assets/logobebida.png"  alt=""></a> -->
      </div>
      <div class="block-desc">
        <!-- <p>{{receitas.strDrink}} </p> -->
        <p>Nome da Bebida Randômica</p>
      </div>
    </div>


    <div class="block">
      <div class="block-img">
        <!-- <a [routerLink]="['/receita-detalhe', receitas.idDrink]"><img src="assets/logobebida.png"  alt=""></a> -->
      </div>
      <div class="block-desc">
        <!-- <p>{{receitas.strDrink}} </p> -->
        <p>Nome da Bebida Randômica</p>
      </div>
    </div>

  </div>
</div>

