<div class="container">
  <h1 class="text-center my-5"> Bebidas Randômicas </h1>

  <div *ngFor="let drink of receita">
    <div class="wrapper">
      <div class="block">
        <div class="block-img">
          <a [routerLink]="['/detalhes-receita', drink.idDrink]" routerLinkActive="router-link-active"><img src={{drink.strDrinkThumb}} alt='imagem do Drink'></a>
        </div>
        <div class="block-desc">
          <p>{{drink.strDrink}} </p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- <div class="block">
      <div class="block-img">
        <a [routerLink]="['/receita-detalhes', receitas.idDrink]"><img src="assets/logobebida.png"  alt=""></a>
      </div>
      <div class="block-desc">
        <p>{{receitas.strDrink}} </p>
        <p>Nome da Bebida Randômica</p>
      </div>
    </div> -->


<!-- <div class="block">
      <div class="block-img">
        <a [routerLink]="['/receita-detalhes', receitas.idDrink]"><img src="assets/logobebida.png"  alt=""></a>
      </div>
      <div class="block-desc">
        <p>{{receitas.strDrink}} </p>
        <p>Nome da Bebida Randômica</p>
      </div>
    </div> -->