.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  /* .container{
    width: 1500px;
  } */

  @media (min-width: 1200px){
    .container {
        max-width: 1900px;
    }

  }

  
.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: 2px auto;
}

.block {
  width: calc(100%/3 - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

 .block-img {
  height: calc(((102vw - (102vw - 3000px))/3 - 20px) /2);
}

.block-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.block-desc p:hover {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

.block a:hover {
  background-color: #ccc;
  text-decoration: none;
}

.block-desc {
  padding: 20px;
  flex-grow: 1;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  
}

.block-link {
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.block-desc p {
  color: #494949;
  display: block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10;
  transition: 0.1s ease;
}

.block-link a:hover {
  background-color: #ccc;
  color: rgb(8, 8, 8);
}

@media (max-width: 768px){
  .block {
      width: calc(100%/2 - 20px);
  }
  .block-img {
      height: calc((100vw /2 - 20px) /2);
  }
}


@media (max-width: 425px){
  .block {
      width: calc(100% - 20px);
  }
  .block-img {
      height: calc((100vw - 20px) /2);
  }
}


@media (max-width: 320px){
  .block {
      width: calc(100%);
      margin: 10px 0;
  }
  .block-img {
      height: calc(100vw /2);
  }
}



.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}