<div class="container">
  <h1 class="text-center my-5">Pesquisa de Receitas</h1>


  <!-- <div class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Pesquise aqui</mat-label>
      <input matInput type="text" [(ngModel)]="pesquisa" placeholder="Ex. Caipirinha" (keyup)='chamarReceitas($event)'>
    </mat-form-field>
  </div> -->


  <!-- <section class="example-section">
    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
  </section>
  
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    >
        nome
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li >
          <mat-checkbox>
            teste
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section> -->



  <div class="row w-100 justify-content-center">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Pesquise Aqui</span>
        </div>
        <input [(ngModel)]="pesquisa" (keyup)='chamarReceitas($event)' type="text" class="form-control"
          placeholder="Ex: Moscow Mule" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  
  <div class="wrapper">
    <div class="block" *ngFor="let drink of receitas">
      <div class="block-img">
        <a [routerLink]="['detalhes-receita',drink.idDrink]"><img src="{{drink.strDrinkThumb}}" alt=""></a>
      </div>
      <a [routerLink]="['detalhes-receita',drink.idDrink]">
        <div class="block-desc">
          <p>{{drink.strDrink}}</p>
        </div>
      </a>
    </div>
  </div>
</div>