  <div *ngFor="let drink of receita">
    <div class="main-container text-center">
        <div class="my-5">
            <h1 class="font-weight-bold font-italic">{{drink.strDrink}}</h1>
        </div>
        <div class="row ">
            <div class="col-6">
                <div class="">
                    <img src={{drink.strDrinkThumb}} alt="Axel Drink´sImagem" width="400" height="400">
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="">
                    <h2 class="font-weight-bold ">Ingredientes</h2>
                </div>
                <div class="">
                    <ul>
                        <li>{{drink.strIngredient1}}</li>
                        <li>{{drink.strIngredient2}}</li>
                        <li>{{drink.strIngredient3}}</li>
                        <li>{{drink?.strIngredient4}}</li>
                        <li>{{drink?.strIngredient5}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row w-100 justify-content-center ">
            <div class="col-8">
                <h2 class="font-weight-bold py-3 mb-3">Instruções</h2>
                <p class="text-justify">{{drink.strInstructions}}</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus suscipit iure, tempore esse sapiente eligendi eos tempora amet laudantium. Quis, odio velit sint dolor eveniet id laudantium quia magni suscipit.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas libero cum molestias deleniti. Rerum delectus eius ducimus perspiciatis illo! Quaerat sequi quos odit quasi repellendus unde architecto magnam ex? Accusamus.
                </p>

            </div>
        </div>
    </div>
</div>