<!-- <header class="bg-light card py-3 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
        </div>
        <div class="col-lg-10">
          <h1 class="display-4 text-dark mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
          <p class="lead mb-5 text-dark">Você está pronto para aprender muito sobre este fantástico framework SPA?</p>
        </div>
      </div>
    </div>
  </header> -->

<div *ngFor="let drink of receita">
    <div class="main-container text-center">
        <div class="my-5">
            <h1 class="font-weight-bold font-italic">{{drink.strDrink}}</h1>
        </div>
        <div class="row ">
            <div class="col-6">
                <div class="">
                    <img src={{drink.strDrinkThumb}} alt="Axel Drink´sImagem">
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="">
                    <h2 class="font-weight-bold ">Ingredientes</h2>
                </div>
                <div class="">
                    <ul>
                        <li>{{drink.strIngredient1}}</li>
                        <li>{{drink.strIngredient2}}</li>
                        <li>{{drink.strIngredient3}}</li>
                        <li>{{drink?.strIngredient4}}</li>
                        <li>{{drink?.strIngredient5}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row w-100 justify-content-center ">
            <div class="col-8">
                <h2 class="font-weight-bold py-3 mb-3">Instruções</h2>
                <p class="text-justify">{{drink.strInstructions}}</p>

            </div>
        </div>
    </div>
</div>