<!-- <header class="bg-light card py-3 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
        </div>
        <div class="col-lg-10">
          <h1 class="display-4 text-dark mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
          <p class="lead mb-5 text-dark">Você está pronto para aprender muito sobre este fantástico framework SPA?</p>
        </div>
      </div>
    </div>
  </header> -->


<div class="main-container text-center">
    <div class="my-5">
        <h1 class="font-weight-bold font-italic">Nome da Receita</h1>
    </div>
    <div class="row ">
        <div class="col-6">
            <div class="">
                <img src="assets/logobebida.png" height="164px" width="253px" alt="Axel Drink´sImagem">
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="">
                <h2 class="font-weight-bold ">Ingredientes</h2>
            </div>
            <div class="">
                <ul>
                    <li>primeiro</li>
                    <li>segundo</li>
                    <li>terceiro</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row w-100 justify-content-center ">
        <div class="col-8">
            <h2 class="font-weight-bold py-3 mb-3">Instruções</h2>
            <p class="text-justify">"In a mason jar muddle the watermelon and 5 mint leaves together into a puree and strain. Next add the grapefruit juice, juice of half a lime and the tequila as well as some ice. Put a lid on the jar and shake. Pour into a glass and add more ice. Garnish with fresh mint and a small slice of watermelon."!</p>

        </div>
    </div>
</div>